{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/security/security.css") }}">
{% endblock %}

{% block title %}{{ "login.title"|trans }}{% endblock %}

{% block content %}
    <div class="security-page">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-info" role="alert">
                {{ "login.already_logged_in"|trans({ "%user%": app.user.userIdentifier }) }}
                <a href="{{ logout_path() }}">{{ "login.logout"|trans }}</a>
            </div>
        {% endif %}

        <div class="container">
            <div class="security-form">
                <div class="title">{{ "login.title"|trans }}</div>

                {{ form_start(loginForm, { method: 'post' }) }}
                <div class="security-field">{{ form_row(loginForm._username) }}</div>
                <div class="security-field">{{ form_row(loginForm._password) }}</div>
                <div class="security-option">{{ form_row(loginForm._remember_me) }}</div>

                {{ form_rest(loginForm) }}

                <button class="security-button" type="submit">
                    {{ "login.submit"|trans }}
                </button>
                {{ form_end(loginForm) }}
            </div>

            <div>
                <a class="login-redirection" href="/register">{{ "login.no_account"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
