{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/security/security.css") }}">
{% endblock %}

{% block title %}{{ "login.title"|trans }}{% endblock %}

{% block content %}
    <div class="security-page">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-info" role="alert">
                {{ "login.already_logged_in"|trans({ "%user%": app.user.userIdentifier }) }}
                <a href="{{ logout_path() }}">{{ "login.logout"|trans }}</a>
            </div>
        {% endif %}

        <div class="container">
            <div class="security-form">
                <div class="title">{{ "login.title"|trans }}</div>

                <form method="post" action="{{ path('login') }}">
                    <div class="security-field">
                        <input type="email" name="email" placeholder="{{ 'login.email'|trans }}" required class="form-control">
                    </div>
                    <div class="security-field">
                        <input type="password" name="password" placeholder="{{ 'login.password'|trans }}" required class="form-control">
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="security-option">
                        <label>
                            <input type="checkbox" name="_remember_me"> {{ "login.remember_me"|trans }}
                        </label>
                    </div>
                    <button class="security-button" type="submit">{{ "login.submit"|trans }}</button>
                </form>
            </div>

            <div>
                <a class="login-redirection" href="{{ path('register') }}">{{ "login.no_account"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
