{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <div class="registration-form">
            {{ form_errors(registrationForm) }}
            <h1>Create Account</h1>
            {{ form_start(registrationForm) }}
            <div class="registration-form-item">{{ form_row(registrationForm.username) }}</div>
            <div class="registration-form-item">{{ form_row(registrationForm.email) }}</div>
            <div
                class="registration-form-item">{{ form_row(registrationForm.plainPassword, { label: "Password" }) }}</div>
            <div class="registration-form-item">{{ form_row(registrationForm.agreeTerms) }}</div>

            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>
        <div>
            <a class="login-redirection" href="/login">I already have an account</a>
        </div>
    </div>
{% endblock %}
