<!DOCTYPE html>
<html lang={{ languageManager.appLanguage }}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>{{ pageTitle }}</title>
    <link rel="icon" href="{{ asset("assets/logo/logo.svg") }}">
    <link rel="stylesheet" href="{{ asset("css/header.css") }}">
    <link rel="stylesheet" href="{{ asset("css/navigation.css") }}">
    <link rel="stylesheet" href="{{ asset("css/profile.css") }}">
    <link rel="stylesheet" href="{{ asset("css/styles.css") }}">
    <link rel="stylesheet" href="{{ asset("css/search/search.css") }}">
    {{ encore_entry_script_tags("app") }}
    {{ encore_entry_link_tags("app") }}
    {% block stylesheets %}{% endblock %}
</head>

<header>
    <div class="header-title">
        <p>{{ pageTitle|trans }}</p>
    </div>
</header>

<body>
    {% include "navigation.html.twig" %}
    {% include "profile.html.twig" %}
    <main>
        {% block content %} {% endblock %}
    </main>
</body>
</html>
