<!DOCTYPE html>
<html lang={{ languageManager.appLanguage }}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="icon" href="{{ asset("assets/favicon.png") }}" type="image/x-png">
    <link rel="stylesheet" href="{{ asset("css/styles.css") }}">
    <link rel="stylesheet" href="{{ asset("css/header.css") }}">
    <link rel="stylesheet" href="{{ asset("css/menu.css") }}">
    <link rel="stylesheet" href="{{ asset("css/burger.css") }}">
    <link rel="stylesheet" href="{{ asset("css/search.css") }}">
    <link rel="stylesheet" href="{{ asset("css/profile.css") }}">
</head>
<body>
{% include "burger.html.twig" %}
{% include "header.html.twig" %}
{% include "profile.html.twig" %}
<script src="{{ asset('js/toggleMenu.js') }}"></script>

<main>
    {% block content %} {% endblock %}
</main>

{% include "menu.html.twig" %}
</body>
</html>
