<!DOCTYPE html>
<html lang={{ languageManager.appLanguage }}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>{{ pageTitle }}</title>
    <link rel="icon" href="{{ asset("assets/favicon.png") }}" type="image/x-png">
    <link rel="stylesheet" href="{{ asset("css/styles.css") }}">
    <link rel="stylesheet" href="{{ asset("css/profile.css") }}">
    <link rel="stylesheet" href="{{ asset("css/burger.css") }}">
    <link rel="stylesheet" href="{{ asset("css/menu.css") }}">
    <link rel="stylesheet" href="{{ asset("css/search/style.css") }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include "burger.html.twig" %}
<script src="{{ asset("js/toggleMenu.js") }}"></script>
<script src="{{ asset("js/deviceDetection.js") }}"></script>
{% include "profile.html.twig" %}
<script src="{{ asset('js/toggleMenu.js') }}"></script>

<main>
    {% block content %} {% endblock %}
</main>

{% include "menu.html.twig" %}
</body>
</html>
