{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/search/cards.css") }}">
{% endblock %}

{% block content %}
    <div class="forms-container">
        <!-- License form -->
        {% include "routes/search/licenseForm.html.twig" %}
        <!-- Set form -->
        {% if licenseSelected and extensions is not empty %}
            {% include "routes/search/extensionForm.html.twig" %}
        {% endif %}
        <!-- Reset button -->
        {% if licenseSelected %}
        <form method="POST"
              action="{{ path('search') }}"
              data-turbo="false">
            <button class="reset" type="submit" name="reset" value="1">
                {{ "search.reset"|trans }}
            </button>
        </form>
        {% endif %}
    </div>

    {% if setSelected %}
        {% if cards is not empty %}
            <div class="cards-container">
                {% for card in cards %}
                    <div class="card-item">
                        {% if licenseSelected == "pokemon" %}
                            {% set cardImage = card.image is not null ? card.image ~ "/low.webp" : asset("assets/cards/pokemon-rear.webp") %}
                        {% else %}
                            {% set cardImage = asset("") %}
                        {% endif %}
                        <img src="{{ cardImage }}" alt="{{ card.name }}" loading="lazy">
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ "search.no-cards"|trans }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
