{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/search/cards.css") }}">
    <link rel="stylesheet" href="{{ asset("css/search/details.css") }}">
{% endblock %}

{% block content %}
    <div class="forms-container">
        <!-- License form -->
        {% include "routes/search/licenseForm.html.twig" %}
        <!-- Set form -->
        {% if licenseSelected and extensions is not empty %}
            {% include "routes/search/extensionForm.html.twig" %}
        {% endif %}
        <!-- Reset button -->
        {% if licenseSelected %}
            <form method="POST"
                  action="{{ path('search') }}"
                  data-turbo="false">
                <button class="reset" type="submit" name="reset" value="1">
                    {{ "search.reset"|trans }}
                </button>
            </form>
        {% endif %}
    </div>

    <!-- Cards -->
    {% if setSelected %}
        {% if cards is not empty %}
            <div class="cards-container">
                {% for card in cards %}
                    <div class="card-item" data-card-id="{{ card.id }}" data-card-name="{{ card.name }}">
                        {% if licenseSelected == "pokemon" %}
                            {% set cardImage = card.image is not null ? card.image ~ "/low.webp" : asset("assets/cards/pokemon-rear.webp") %}
                        {% else %}
                            {% set cardImage = asset("") %}
                        {% endif %}
                        <img src="{{ cardImage }}" alt="{{ card.name }}" loading="lazy">
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ "search.no-cards"|trans }}</p>
        {% endif %}
    {% endif %}

    <!-- Cards modal details-->
    <div id="cardModal"
         class="modal"
         data-card-details-url="{{ path('card_details', {'id': 'PLACEHOLDER'}) }}"
         data-license="{{ licenseSelected }}"
         data-set="{{ setSelected }}">
        <div class="modal-content">
            <div id="modalBody">
                <!-- Content loaded with AJAX -->
            </div>
        </div>
    </div>
{% endblock %}
