{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/search/cards.css") }}">
    <link rel="stylesheet" href="{{ asset("css/search/details.css") }}">
{% endblock %}

{% block content %}
    <div class="forms-container">
        <!-- License form -->
        {% include "routes/search/licenseForm.html.twig" %}
        <!-- Set form -->
        {% if licenseSelected and extensions is not empty %}
            {% include "routes/search/extensionForm.html.twig" %}
        {% endif %}
        <!-- Reset button -->
        {% if licenseSelected %}
            <form method="POST"
                  action="{{ path('search') }}"
                  data-turbo="false">
                <button class="reset" type="submit" name="reset" value="1">
                    {{ "search.reset"|trans }}
                </button>
            </form>
        {% endif %}
    </div>

    <!-- Display cards -->
    {% include "routes/search/cardDisplay.html.twig" %}

    <!-- Cards modal details-->
    <div id="cardModal"
         class="modal"
         data-card-details-url="{{ path('card_details', {'id': 'PLACEHOLDER'}) }}"
         data-license="{{ licenseSelected }}"
         data-set="{{ setSelected }}">
        <div class="modal-content">
            <div id="modalBody">
                <!-- Content loaded with AJAX -->
            </div>
        </div>
    </div>
{% endblock %}
