<div class="modal-card-container">
    <img class="modal-card-image" src="{{ image }}" alt="{{ card.name }}">

    <div class="modal-card-details">
        <!-- Head section-->
        <div>
            <h2>{{ card.name }} #{{ card.dexId }}</h2>
            <div class="set-infos">
                <img src="{{ setSymbol }}" alt="{{ card.setName }}">
                <div>{{ card.localId }} / {{ card.setOfficial }} ({{ card.setTotal }}) {{ card.setName }} </div>
            </div>
        </div>

        <!-- Variant section -->
        {% if card.variants and card.variants|length > 0 %}
            <div class="variants">
                <ul>
                    {% for variant in card.variants %}
                        <li>
                            <div class="variants-container">
                                <button class="button-minus">−</button>
                                <p>{{ variant|capitalize }} : 0</p>
                                <button class="button-plus">+</button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>No variants available</p>
        {% endif %}

        <!-- Price -->
        <div class="accordion-item">
            <button class="accordion-header">
                <h3>Prices cardmarket / tcgmarket (user pref)</h3>
            </button>
            <div class="accordion-content">
                <div class="accordion-body">
                    <div class="detail-card-container">
                        <div class="name">Avg</div>
                        <div class="value">{{ card.price }}€</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edition -->
        <div class="accordion-item">
            <button class="accordion-header">
                <h3>Edition</h3>
            </button>
            <div class="accordion-content">
                <div class="accordion-body">
                    <div class="detail-card-number">
                        <div class="name">1</div>
                        <div class="name">2</div>
                        <div class="name">3</div>
                    </div>
                    <div class="detail-card-container">
                        <div class="name">Language</div>
                        <div class="value">N/A</div>
                    </div>
                    <div class="detail-card-container">
                        <div class="name">Gradation</div>
                        <div class="value">N/A</div>
                    </div>
                    <div class="detail-card-container">
                        <div class="name">Add date</div>
                        <div class="value">N/A</div>
                    </div>
                    <div class="detail-card-container">
                        <div class="name">Price bought</div>
                        <div class="value">N/A</div>
                    </div>
                    <div class="detail-card-container">
                        <div class="name">Inventory / deck</div>
                        <div class="value">N/A</div>
                    </div>
                    <div class="detail-card-container">
                        <div class="name">Note</div>
                        <div class="value">N/A</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="accordion-item">
            <button class="accordion-header">
                <h3>Description</h3>
            </button>
            <div class="accordion-content">
                <div class="accordion-body">
                    <div class="detail-card-container">
                        <div class="name">Illustrator _<strong>{{ card.illustrator }}</strong></div>
                    </div>

                    <div class="detail-card-container">
                        <div class="name">Rarity _<strong>{{ card.rarity }}</strong></div>
                    </div>

                    <div class="detail-card-container">
                        <div class="name">Energy _<strong>{{ card.type }}</strong></div>
                    </div>

                    <div class="detail-card-container">
                        <div class="name">Regulation mark _<strong>{{ card.regulationMark }}</strong></div>
                    </div>

                    {% if card.description %}
                        <div class="detail-card-container">
                            <div class="name">Description _<strong>{{ card.description }}</strong></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="name">OTHER PRINTINGS</div>
        <p>N/A</p>


        <!-- === Deck + (bouton) === -->

        <!-- === Inventaire + (bouton) === -->

        <!--
            <p>id {{ card.id }}</p>
            <p>illustrator {{ card.illustrator }}</p>
            <p>localId {{ card.localId }}</p>
            <p>name {{ card.name }}</p>
            <p>rarity {{ card.rarity }}</p>
            <p>setTotal {{ card.setTotal }}</p>
            <p>setId {{ card.setId }}</p>
            <p>setLogo {{ card.setLogo }}</p>
            <p>setName {{ card.setName }}</p>
            <p>setSymbol {{ card.setSymbol }}</p>
            <p>dexId {{ card.dexId }}</p>
            <p>type {{ card.type }}</p>
            <p>evolveFrom {{ card.evolveFrom }}</p>
            <p>description {{ card.description }}</p>
            <p>stage {{ card.stage }}</p>
            <p>regulationMark {{ card.regulationMark }}</p>
            <p>price {{ card.price }}</p>
        -->

    </div>
</div>
